<div class="row justify-content-center mt-5">
  <div class="col-auto">
    <div class="list-group social-networks">
      <a target="_blank" href="https://twitter.com/asmscorses" class="list-group-item list-group-item-action"
         title="My Twitter">
        <i class="fa fa-twitter" aria-hidden="true"></i>
        Twiiter
      </a>
      <a href="https://github.com/asmmahmud" class="list-group-item list-group-item-action" target="_blank"
         title="My github page">
        <i class="fa fa-github" aria-hidden="true"></i>
        My Github Page
      </a>
      <a href="https://stackoverflow.com/users/story/1576255" class="list-group-item list-group-item-action" target="_blank"
         title="My stackoverflow Profile">
        <i class="fa fa-stack-overflow" aria-hidden="true"></i>
        My Stackoverflow Profile
      </a>
      <a href="https://www.upwork.com/o/profiles/users/_~01233afc5e2aac7f4f/"
         class="list-group-item list-group-item-action upwork-link" title="My Upwork Profile" target="_blank">
        <img #upworkImg (mouseover)="imgMouseOver(upworkImg)" (mouseleave)="imgMouseLeave(upworkImg)"
             src="assets/upwork-hover.svg" class="upwork-icon" alt="Upwork"/>
        My Upwork Profile
      </a>
    </div>
  </div>
</div>
